<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Github</th>
      <th>Stack</th>
      <th>Favorite thing</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.phone %></td>
        <td><%= member.email %></td>
        <td><%= member.github %></td>
        <td><%= member.stack %></td>
        <td><%= member.favorite_thing %></td>
        <td><%= member.project.title if member.project.present? %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
